<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.wkw.login">

    <application
        android:name=".debug.LoginApplication"
        android:allowBackup="true"
        android:label="@string/login_app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:launchMode="singleTask"
            android:name=".LoginActivity">
            <intent-filter>
                <data
                    android:host="loginmodule"
                    android:path="/login"
                    android:port="8888"
                    android:scheme="modularization"/>

                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
                <!--<category android:name="android.intent.category.BROWSABLE"/>-->

            </intent-filter>
        </activity>
        <provider
            android:authorities="com.modularization.android.login"
            android:exported="true"
            android:name=".provider.UserContentProvider"/>
    </application>
</manifest>
